* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

header {
    height: 100px;
    background-color: black;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;

    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo_img {
    width: 80px;
    height: 80px;
    background-color: #b28756;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

    height: 100px;

    border-bottom: 5px solid black;
}

.menu li a:hover {
    border-bottom: 5px solid #b28756;
}

.banner {
    height: calc(100vh - 100px);
    
    background-image: url(assets/Images/complement/bg.jpg);
    background-size: cover;
    background-position: center;
}