* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat';

    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: black;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;

    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo_img {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 50%;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

    height: 100px;

    border-bottom: 5px solid black;
}

.menu li a:hover {
    border-bottom: 5px solid #b28756;
}

.banner {
    height: calc(100vh - 100px);
    
    background-image: url(assets/Images/complement/bg.jpg);
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.banner h1 {
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: white;
    
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;

    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    
    position: absolute;
    margin-top: -50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;

    border: 2px solid #b28756;
    border-radius: 50%;

    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;
}

.default {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section_title {
    font-size: 20px;
}

.default .section_desc {
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section_body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section_title,
.default.light .section_body {
    color: black;
}

.default.dark {
    background-color: black;
}

.default.dark .section_title, 
.default.dark .section_body {
    color: white;
}


/*Area about us */
.aboutus {
    display: flex;
}

.aboutus_left {
    flex: 1;
}

.aboutus_left p {
    font-size: 14px;
    line-height: 25px;
}

.aboutus_right {
    width: 500px;
    text-align: center;
}

.aboutus_right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/*Area services */
.services {
    display: flex;
}

.service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.service:first-child {
    border-left: 1px solid #333;
}

.service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.service p {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}