* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat';

    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: black;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;

    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo_img {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 50%;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

    height: 100px;

    border-bottom: 5px solid black;
}

.menu li a:hover {
    border-bottom: 5px solid #b28756;
}

.banner {
    height: calc(100vh - 100px);
    
    background-image: url(assets/Images/complement/bg.jpg);
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.banner h1 {
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: white;
    
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;

    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    
    position: absolute;
    margin-top: -50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;

    border: 2px solid #b28756;
    border-radius: 50%;

    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;
}

.default {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section_title {
    font-size: 20px;
}

.default .section_desc {
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section_body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section_title,
.default.light .section_body {
    color: black;
}

.default.dark {
    background-color: black;
}

.default.dark .section_title, 
.default.dark .section_body {
    color: white;
}


/*Area about us */
.aboutus {
    display: flex;
}

.aboutus_left {
    flex: 1;
}

.aboutus_left p {
    font-size: 14px;
    line-height: 25px;
}

.aboutus_right {
    width: 500px;
    text-align: center;
}

.aboutus_right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/*Area services */
.services {
    display: flex;
}

.service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.service:first-child {
    border-left: 1px solid #333;
}

.service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.service p {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

/*Area projects */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters_project {
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #eee;

    display: inline-block;
    padding: 0px 20px;
}

.filters_project ul,
.filters_project li {
    list-style: none;
}

.filters_project li {
    display: inline-block;
    padding: 10px;

    text-transform: uppercase;
    font-size: 13px;

    border-left: 1px solid #ccc;
    border-bottom: 3px solid #eee;
    color: #555;

    cursor: pointer;
}

.filters_project li:hover {
    border-bottom: 3px solid #b28756;
}

.filters_project li:first-child {
    border-left: 0;
}

.project_photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
}

.photo {
    width: 280px;
}

.photo_area {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.photo_area img {
    width: inherit;
    height: inherit;
}

.photo_info {
    width: inherit;
    height: inherit;

    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.photo_info h5 {
    font-size: 18px;
    font-weight: 600;
}

.photo_area:hover .photo_info {
    display: flex;
}

/*Area team */
.bg-team {
    background-image: url(assets/Images/complement/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section_team-area {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
}

.team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.team .sliders {
    width: 1000vw;
    height: 100%;
}

.team .slide {
    width: 280px;
    height: 100%;
    margin-right: 20px;
    
    display: inline-block;
    background-color: white;

}

.team .slide_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    padding: 30px;

    color: black;
}

.avatar {
    width: 150px;
    height: auto;
}

.team_name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;

    margin-top: 30px;
}

.team_role {
    font-size: 14px;
    color: #999;

    margin-top: 5px;
}

.team_social {
    display: flex;
    margin-top: 20px;
}

.team_social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    width: 25px;
    height: 25px;

    background-color: #ccc;
    border-radius: 50%;
}

.team_social a:hover {
    background-color: #b28756;
}

.section_team-area .sliders_pointers {
    height: 20px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_team-area .pointer {
    width: 15px;
    height: 15px;

    border: 2px solid #b28756;
    border-radius: 50%;

    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;
}


/*Area map */
.map {
    background-image: url(assets/Images/complement/mapa.jpg);
    background-size: cover;
    background-position: center;
    
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.map-info {
    width: 50%;
    padding: 30px;
    background-color: white;
    color: #999;
}

.info-item { 
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-img {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 15px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    background-color: #999;
    border-radius: 50%;
}

.item-img img {
    width: 15px;
    height: auto;
}